.controller1{
    position: fixed;
    top: 10px;
    right: 320px;
    width: 300px;
    background-color:rgba(192,192,192,0.2);
    padding: 10px;
    display: grid;
}
.controller2{
    position: fixed;
    top: 10px;
    right: 20px;
    width: 300px;
    background-color:rgba(192,192,192,0.2);
    padding: 10px;
    display: grid;
}
.camera-controller{
    position: fixed;
    top: 10px;
    left: 20px;
    width: 300px;
    background-color:rgba(192,192,192,0.2);
    padding: 10px;
    display: grid;
}
